
/* Responsive Styles for Header */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .main-menu {
        flex-direction: column;
        align-items: center;
    }

    .main-menu li {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

@media (max-width: 767px) {
    .carousel-indicators {
      bottom: 5px;
      left: 0;
      right: 0;
      text-align: center; /* Canh giữa các chỉ báo */
    }
  }
  




/* Responsive Styles */
@media (max-width: 768px) {
    .header-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .main-menu-wrapper {
        margin-top: 20px;
    }

    .main-menu {
        flex-direction: column;
        align-items: center;
    }

    .main-menu li {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

/* Responsive Styles for Footer */
@media (max-width: 768px) {
    .footer-top {
        flex-direction: column;
        align-items: center;
    }

    .footer-menu-wrapper,
    .contact-details,
    .social-networks {
        width: 100%;
        margin-bottom: 20px;
    }
}
